body
{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn
{
    width: 100px;
    height: 50px;
    background-color: black;
    border: none;
    color: white;
   
}

.btnTest
{
    
    width: 100px;
    height: 50px;
    background-color: whitesmoke;
    border: none;
    color: black;
   
}

.btnKamila
{
    width: 100px;
    height: 50px;
    background-color: rgb(46, 110, 145);
    border: none;
    color: white;


   
}

.btnTestKamila
{
    width: 100px;
    height: 50px;
    background-color: whitesmoke;
    border: none;
    color: black;
        
    margin-left: 50px;
  
}
