.body
{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .botoncito
{
    width: 100px;
    height: 50px;
    background-color: rgb(160, 16, 152);
    color: white;
    border: none;

}
    
}
